<?php 
/**
 * Created by TAMAEXPRESS
 * Developer: Syed Khalid T
 * Date: 2026-07-22 22:14:58
 */
define('APP_NAME','DEMAT PRO');
define('APP_LOGO','logo_inverse.jpg');
define('ENABLE_MULTI_LANG','1');
define('DEFAULT_CURRENCY','EUR');
define('DEFAULT_LANG','fr');
define('DEFAULT_TIMEZONE','Europe/Paris');
define('DASHBOARD_WELCOME_PREFIX','');
define('DASHBOARD_WELCOME_SUBTITLE','');
define('DASHBOARD_FEATURE_SECURE','');
define('DASHBOARD_FEATURE_INSTANT','');
define('DASHBOARD_FEATURE_SUPPORT','');
define('PER_PAGE','10');
define('RECORD_ORDER_BY','DESC');
define('ENABLE_EMAIL','0');
define('ENABLE_SLACK','0');
define('DEFAULT_RECORD_METHOD','1');
define('PAYMENT_EMAILS','sydkhalid7@gmail.com');
define('ORDER_PREFIX','ORD');
define('TRANSACTION_PREFIX','TXN');
define('ADMIN_LIMIT','1');
define('MANAGER_LIMIT','4');
define('API_TOKEN','uSHuc6DWKrHovgLt4YrHqwYWXE5pdbnT8NKs03qE82rrro1efJnFGNyQlQAgZIdWMP0EP6SPIVI');
define('API_END_POINT','http://127.0.0.1:8004/api/v1/');
define('BUS_V2_DESIGN','standard');
define('COMCOD','00014239');
define('TPVCOD','00017499');
define('AUTHORIZATION','MDAwMTQyMzk6MGlMQTFOcXdXdjVoamdCS3hXZ1k=');
define('THEME_PRIMARY_COLOR','#83AE69');
define('THEME_ACCENT_COLOR','#83AE69');
define('THEME_LOGIN_COLOR','#C2DBCA');
define('THEME_HEADER_COLOR','#83AE69');
define('THEME_HEADER_TEXT_COLOR','#000000');
define('THEME_SIDEBAR_COLOR','#FFFFFF');
define('THEME_SIDEBAR_ACTIVE_COLOR','#83AE69');
define('THEME_SIDEBAR_TEXT_COLOR','#000000');
define('THEME_BUTTON_COLOR','#83AE69');
define('THEME_BUTTON_TEXT_COLOR','#000000');
define('THEME_DASHBOARD_BACKGROUND_COLOR','#F7F7F7');
define('THEME_DASHBOARD_CARD_COLOR','#EBF4E6');
define('THEME_DASHBOARD_TEXT_COLOR','#0F172A');
define('THEME_DASHBOARD_MUTED_COLOR','#818283');
define('THEME_DASHBOARD_BORDER_COLOR','#D9E9D0');
define('THEME_DARK_SURFACE_COLOR','#000000');
define('THEME_DARK_CARD_COLOR','#202D20');
define('THEME_DARK_TEXT_COLOR','#FFFFFF');
define('THEME_DARK_MUTED_COLOR','#B0DB9A');
define('THEME_DARK_BORDER_COLOR','#C7C7C7');
?>