APP_NAME=Leyonet
APP_ENV=local
APP_KEY=base64:WAwgnsbJzjTF87L13keH9Cs5WmBadLgKlrPQIwE6Zr8=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8001

LOG_CHANNEL=stack
XRAY_ENABLED=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ipdemat
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=redis
CACHE_DRIVER=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=465
MAIL_USERNAME=noreply@tamaexpress.com
MAIL_PASSWORD=AU5a%E7g
MAIL_ENCRYPTION=ssl


PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

NEXMO_KEY=4bb60cf9
NEXMO_SECRET=b202b843

TWILIO_FROM=+12059645301


TWILIO_ACCOUNT_SID=AC178de1ed9a1fe18c2d3fe430d70aea70
TWILIO_AUTH_TOKEN=2cffd2f9f0de4ff44ffbe764e9e1727d

TWILIO_WHATSAPP_FROM=whatsapp:+14155238886

TWILIO_MESSAGING_SERVICE_SID_WA=MG4e5401af0bad194cd5566234cf8b3d34

TWILIO_OTP_CONTENT_SID_EN=HX7ea558bcd9faf0a3a10e75cf24673b73
TWILIO_OTP_CONTENT_SID_FR=HXxxxxxxxxxxxxxxxx
TWILIO_OTP_CONTENT_SID_DE=HXxxxxxxxxxxxxxxxx
