/node_modules
/public/hot
/public/storage
/storage/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
laravel-echo-server.json
app/Http/Controllers/TestController.php
_ide_helper.php
resources/lang/de/api.php
resources/lang/de/auth.php
resources/lang/de/common.php
resources/lang/de/config.json
resources/lang/de/general.php
resources/lang/de/levels.php
resources/lang/de/login.php
resources/lang/de/menu.php
resources/lang/de/myservice.php
resources/lang/de/passwords.php
resources/lang/de/pagination.php
resources/lang/de/sale.php
resources/lang/de/service.php
resources/lang/de/settings.php
resources/lang/de/tamatopup.php
resources/lang/de/translation.php
resources/lang/de/users.php
resources/lang/de/validation.php
resources/lang/en/api.php
resources/lang/en/auth.php
resources/lang/en/common.php
resources/lang/en/levels.php
resources/lang/en/login.php
resources/lang/en/general.php
resources/lang/en/myservice.php
resources/lang/en/menu.php
resources/lang/en/pagination.php
resources/lang/en/passwords.php
resources/lang/en/sale.php
resources/lang/en/settings.php
resources/lang/en/service.php
resources/lang/en/tamatopup.php
resources/lang/en/users.php
resources/lang/fr/api.php
resources/lang/en/translation.php
resources/lang/en/config.json
resources/lang/fr/config.json
resources/lang/fr/common.php
resources/lang/fr/levels.php
resources/lang/fr/auth.php
resources/lang/en/validation.php
resources/lang/fr/general.php
resources/lang/fr/login.php
resources/lang/fr/menu.php
resources/lang/fr/myservice.php
resources/lang/fr/passwords.php
resources/lang/fr/pagination.php
resources/lang/fr/service.php
resources/lang/fr/sale.php
resources/lang/fr/tamatopup.php
resources/lang/fr/settings.php
resources/lang/fr/translation.php
resources/lang/fr/users.php
resources/lang/fr/validation.php
composer.lock
settings.php
public/images/banner
/tmp
